@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,700&display=swap');

body {
  width: 100%;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #000;
  scroll-behavior: smooth;
}

section {
  min-height: 100vh;
  background-color: #fefefe;
}

.background-animation {
  position: relative !important;
  min-height: 100vh;
  height: 100%;
  background-color: #446ABB;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.background-texts {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 50vh;
  padding: 25vh 0 0 0;
  transform: translateY(-50vh);
  font-size: 1.31rem;
  font-family: 'Raleway', sans-serif;
  color: #fff;
}

.background-texts p {
  opacity: 0;
}

.background-texts p.visible {
  opacity: 1;
}

.background-texts h3 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 45px;
  letter-spacing: .3px;
  word-spacing: 1px;
}

#backgroudVideo {
  padding: 60px 0 0 0;
  position: -webkit-sticky;
  position: sticky;
  top: -60px;
  align-self: start;
  width: 50%;
  height: 50vh;
  margin: 0 auto;
}

canvas {
  padding-top: 200px;
  position: -webkit-sticky;
  position: sticky;
  top: -120px;
  align-self: start;
  width: 50%;
  height: 50vh;
  margin: 0 auto;
  transform: translateX(100px);
}

#end-background-animation {
  width: 100%;
  height: 30px;
  background-color: blue;
}